appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
astor==0.8.1
astroid==2.15.6
asttokens==2.4.0
attrs==23.1.0
Authlib==1.2.0
autorepr==0.3.0
bandit==1.7.5
blinker==1.6.2
cattrs==23.1.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-default-group==1.2.4
colorama==0.4.6
ConfigUpdater==3.1.1
covdefaults==2.3.0
coverage==7.3.0
cryptography==42.0.0
cssbeautifier==1.14.9
darglint==1.8.1
decorator==5.1.1
dennis==1.1.0
dictdiffer==0.9.0
Django==4.2.10
django-axes==6.3.0
django-coverage-plugin==3.1.0
django-csp==3.7
django-debug-toolbar==4.3.0
django-extra-checks==0.13.3
django-health-check==3.18.1
django-http-referrer-policy==1.1.1
django-migration-linter==5.0.0
django-permissions-policy==4.19.0
django-querycount==0.8.3
django-split-settings==1.2.0
django-stubs==4.2.7
django-stubs-ext==4.2.7
django-test-migrations==1.3.0
djlint==1.34.1
doc8==1.1.1
docopt==0.6.2
docutils==0.20.1
dotenv-linter==0.4.0
dparse==0.6.4b0
dpath==2.1.6
dump-env==1.4.0
EditorConfig==0.12.3
eradicate==2.3.0
executing==1.2.0
flake8==6.1.0
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==23.7.10
flake8-commas==2.1.0
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.0.0
flake8-logging-format==0.9.0
flake8-plugin-utils==1.3.3
flake8-pytest-style==1.7.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0
flatten-dict==0.4.2
furl==2.1.3
gitdb==4.0.10
gitignore_parser==0.1.9
GitPython==3.1.41
gunicorn==21.2.0
html-tag-names==0.1.2
html-void-elements==0.1.0
hypothesis==6.98.4
identify==2.5.27
idna==3.4
iniconfig==2.0.0
ipython==8.21.0
isort==5.12.0
jedi==0.19.0
Jinja2==3.1.3
jmespath==1.0.1
jsbeautifier==1.14.9
json5==0.9.14
lazy-object-proxy==1.9.0
loguru==0.7.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-polyfield==5.11
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.1.0
mypy==1.7.1
mypy-extensions==1.0.0
nitpick==0.35.0
nplusone==1.0.0
orderedmultidict==1.0.1
packaging==21.3
parso==0.8.3
pathspec==0.12.1
pbr==5.11.1
pep8-naming==0.13.3
platformdirs==3.10.0
pluggy==1.3.0
ply==3.11
polib==1.2.0
polint==0.4
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
pure-eval==0.2.2
pycodestyle==2.11.0
pycparser==2.21
pydantic==1.10.13
pydocstyle==6.3.0
pyflakes==3.1.0
Pygments==2.16.1
pyparsing==3.1.1
pytest==8.0.0
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-randomly==3.15.0
pytest-timeout==2.2.0
python-decouple==3.8
python-slugify==8.0.1
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
requests-cache==1.1.0
restructuredtext_lint==1.4.0
rich==13.5.2
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safety==3.0.1
safety-schemas==0.0.1
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sqlparse==0.4.4
stack-data==0.6.2
stevedore==5.1.0
StrEnum==0.4.15
structlog==24.1.0
text-unidecode==1.3
toml==0.10.2
tomlkit==0.12.1
tqdm==4.66.1
traitlets==5.9.0
typer==0.9.0
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
tzdata==2023.3
url-normalize==1.4.3
urllib3==2.0.7
wcwidth==0.2.6
wemake-python-styleguide==0.18.0
win32-setctime==1.1.0
wrapt==1.15.0
yamllint==1.34.0
