{% extends 'layout/auth.html' %}

{% load i18n %}

{% block title %}{% translate "Register" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <form method="post" class="w-75" id="signupAuthorForm">
    {% csrf_token %}
    <div class="d-flex flex-column gap-4 bg-white rounded p-6 shadow-sm">
      {% if user.is_authenticated %}
      <p>You already logged in. <span><a href="{% url 'user:logout' %}">Logout?</a></span></p>
      {% else %}
      <h2 class="form-label fs-3">Create account</h2>
      <div>
        <input type="text" name="{{ form.phone_number.name }}" class="form-control" placeholder="Phone Number"
               aria-label="Phone Number"
               aria-describedby="basic-addon1" required/>
        {% for error in form.phone_number.errors %}
        <div style="color: red;">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      <div>
        <input type="text" name="{{ form.nationality.name }}" class="form-control" placeholder="Nationality"
               aria-label="Nationality" aria-describedby="basic-addon1" required/>
        {% for error in form.nationality.errors %}
        <div style="color: red;">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      <div>
        <input type="date" name="{{ form.date_of_birth.name }}" class="form-control"
                aria-describedby="basic-addon1" required/>
        {% for error in form.date_of_birth.errors %}
        <div style="color: red;">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary mt-6 align-self-end">Sign Up</button>
      {% endif %}
    </div>
  </form>

</div>

{% endblock content %}
