{% extends 'layout/default_no_sidebar.html' %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<div class="container mt-6">
  <div class="row g-4">
    {% for quiz in quizzes %}
    <div class="col-3">
      <div class="card h-100">
        <img src="{% static 'media/custom/exam.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{% url 'result:take_quiz' quiz.id %}" class="card-title"><h5 class="card-title">{{ quiz.title }}</h5></a>
          <p class="card-text">15 Question</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
