<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">

  <!--begin::Theme mode-->

  <div class="app-navbar-item ms-1 ms-md-3">
    {% include 'partials/theme-mode/_main.html' %}
  </div>
  <!--end::Theme mode-->
  <!--begin::Header menu toggle-->
  <div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
    <div class="btn btn-icon btn-active-color-primary w-30px h-30px w-md-35px h-md-35px" id="kt_app_header_menu_toggle">
      {% getIcon 'text-align-left' 'fs-2 fs-md-1' %}
    </div>
  </div>
  <!--end::Header menu toggle-->
  <div class="app-navbar-item ms-1 ms-md-3">
    <a href="{% url 'user:login' %}" class="btn btn-sm fw-bold btn-primary">Sign In</a>
  </div>
</div>
<!--end::Navbar-->
