{% extends 'layout/default.html' %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3 p-5">
      <h4>Add and edit questions:</h4>
      <a href="#" class="btn btn-dark mt-4" id="addQuestionBtn">Add Question</a>
    </div>

    <div class="col bg-body p-5 rounded" id="questionOptionsContainer">
      <h4>Select Question Type:</h4>
      <div class="mt-4">
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input" type="radio" name="questionType" value="trueFalse">
          <label class="form-check-label" for="trueAnswer">True/False</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="questionType" value="multipleChoice">
          <label class="form-check-label" for="falseAnswer">Multiple Choice</label>
        </div>
      </div>
      <button class="btn btn-light mt-4" id="nextBtn">Next</button>
    </div>
  <div class="col bg-body p-5 rounded" id="questionFormContainer">
    <h4>Question Form:</h4>
    <form id="questionForm" class="mt-4">
      <div class="form-group">
        <textarea placeholder="What is your question?" id="questionText" name="questionText" class="form-control" data-kt-autosize="true"></textarea>
      </div>

      <div class="pt-4" id="additionalOption">
        <!--begin::Repeater-->
        <div id="kt_docs_repeater_basic">
            <!-- Column Headers -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="form-label">Option</label>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Correct Answer</label>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Delete Option</label>
                </div>
            </div>

            <!--begin::Form group-->
            <div class="form-group">
                <div data-repeater-list="kt_docs_repeater_basic">
                    <div data-repeater-item>
                        <div class="form-group row mt-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control mb-2 mb-md-0" placeholder="Option" />
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <div class="form-check form-check-custom form-check-solid ">
                                    <input class="form-check-input" type="checkbox" value="" id="form_checkbox" />
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger">
                                    <i class="ki-duotone ki-trash fs-5 pe-0"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Form group-->

            <!--begin::Form group-->
            <div class="form-group mt-5">
                <a href="javascript:;" data-repeater-create class="btn btn-light">
                    <i class="ki-duotone ki-plus fs-3 pe-0"></i>
                    Option
                </a>
            </div>
            <!--end::Form group-->
        </div>
        <!--end::Repeater-->

      </div>
      <div class="pt-4" id="trueFalseOptions" style="display: none;" >
        <label>Correct Answer:</label><br>
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input" type="radio" name="trueFalseAnswer" id="trueAnswer" value="true">
          <label class="form-check-label" for="trueAnswer">True</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="trueFalseAnswer" id="falseAnswer" value="false">
          <label class="form-check-label" for="falseAnswer">False</label>
        </div>
      </div>
      <button type="submit" class="btn btn-light mt-4">Submit</button>
    </form>
  </div>
  </div>
</div>



{% endblock content %}
